body {
    width: auto;

}

h1 {text-align: center;}

img {
    width: auto;
    height: 150px;
}

ul, li {
    list-style: none;
}

li {
    width: calc(100% / 4);
    height: auto;
    text-align: center;
}

ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 50px;
}

.text-item {
    height: 50px;
    overflow: hidden;
}

.show-less {
    display: none;
}

button {
    border: none;
    background: none;
    color: rgba(123, 123, 123, 0.632);
}

li button.show-more,
li button.show-less{
    float: right;
    margin-left: 10px;
  }



